/* 
3 part 11:30 min

1 part: https://www.youtube.com/watch?v=OWJ9jhH50Eo 
2 part: https://www.youtube.com/watch?v=mPub0dbLE_Q
3 part: https://www.youtube.com/watch?v=IRwLeYkiwjY
*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 auto;
}

.main__title {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 20px;
    margin-top: 0;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  position: relative;
  min-height: 100vh;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 0 40px;
  font-weight: 700;
}

.menu__btn {
  padding: 15px 58px;
  border-radius: 30px;
  background-color: #000;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.header__content-images {
  text-align: center;
  padding-bottom: 50px;
}

.header__content-images::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(180deg, #cadbeb 0%, rgba(235, 235, 235, 0) 100%);
  z-index: -2;
}

.title {
  font-size: 210px;
  font-weight: 700;
  position: absolute;
  margin: 0 auto;
  padding-top: 110px;
}

.title--pod {
  position: relative;
  z-index: -1;
}

.title--s {
  display: inline-block;
  transform: translateY(60px);
}

.title--m {
  display: inline-block;
  transform: translate(-57px, 275px);
}

.title--ax {
  display: inline-block;
  transform: translate(-128px, 413px);
  z-index: -1;
  position: relative;
}

.choose-colour {
  padding: 45px 0 180px;
  text-align: center;
}

.choose-colour__title {
  font-size: 36px;
  font-weight: 700;
  max-width: 555px;
  margin: 0 auto 20px;
}

.choose-colour__text {
  max-width: 555px;
  margin: 0 auto 80px;
}

.choose-colour__list {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.choose-colour-btn {
  border-radius: 20px;
  border: 1px solid #777;
  padding: 50px 55px;
}

.composition {
    margin-bottom: 180px;
}

.composition__title {
    text-align: center;
}

.composition__text {
    text-align: center;
    max-width: 655px;
    margin: 0 auto 40px;
}

.composition__inner {
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.composition__inner-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.composition__inner-text p {
  width: 230px;
}

.case {
  background-color: #fafafa;
  padding: 80px 0 100px;
  text-align: center;
}

.case__text {
  max-width: 825px;
  margin: 0 auto 40px;
}

.energy__title {
  padding-top: 160px;
  margin-bottom: 40px;
}

.energy__num {
  font-size: 210px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 0;
}

.energy__text {
  max-width: 400px;
  margin: 0 auto;
}

.audio {
  /* position: relative; */
  background-image: url(../img/audio_bg_full.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

/* .audio::before {
  content: '';
  background-image: url(../img/audio_bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.audio::after {
  content: '';
  position: absolute;
  background-image: url(../img/sound.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  bottom: -250px;
  left: 0;
  right: 0;
  width: 100%;
  height: 150vh;
  z-index: -1;
} */

.audio__inner {
  min-height: 220vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.audio__box {
  color: #fff;
  text-align: center;
  padding-bottom: 50vh;
}

.audio__text {
  width: 300px;
  margin-bottom: 10px;
}

.btn {
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 15px 58px;
  margin-top: 25px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.footer {
  /* position: relative;
  z-index: -2; */
  padding: 50px 0 40px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

.footer__text {
  padding: 20px 0;
}

.footer__list{
  padding-left: 0;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .choose-colour__list {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .choose-colour {
    padding-bottom: 60px;
  }

  .main__title {
    font-size: 36px;
  }

  .composition {
    margin-bottom: 60px;
  }

  .case {
    padding: 60px 0;
  }

  .energy__title {
    padding-top: 60px;
  }

  .energy__num {
    font-size: 110px;
  }
}